<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/head :: head"/>

<body>
<nav th:replace="fragments/nav :: nav"/>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>전화 문자 헬퍼 서비스</h2>
    </div>

    <pre>
        문자, 전화 업무에 도움을 주는 서비스입니다.
        회원가입 후, 안드로이드 단말기에 앱을 설치하고 동일한 아이디로 로그인 하여
        번호 등록후 사용 가능합니다.
    </pre>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    th:onclick="|location.href='@{/member/signup-page}'|">
                회원 가입
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    th:onclick="|location.href='@{/member/signin-page}'|">
                로그인
            </button>
        </div>
    </div>

</div> <!-- /container -->


</body>
</html>