<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"/>
<body>
<nav th:replace="fragments/nav :: nav"/>
<div class="container" style="max-width: 600px">

    <div class="py-5 text-center">
        <h2>비밀번호 초기화</h2>
        <h5 class="py-lg-5">
            아이디 입력시 등록된 이메일로 임시 비밀번호가 발급됩니다.
            임시 비밀번호로 로그인 후 비밀번호를 변경해주세요.
        </h5>
    </div>

    <div class="form-group">
        <label for="userId">아이디</label>
        <input type="text" id="userId" class="form-control" placeholder="회원가입했던 아이디를 입력하세요.">
        <button type="button" onclick="sendVerifyEmail()" class="btn btn-primary btn-lg float-end">임시 비밀번호 전송</button>
    </div>

</div>


<script type="text/javascript">

    const header = $("meta[name='_csrf_header']").attr('content');
    const token = $("meta[name='_csrf']").attr('content');
    function sendVerifyEmail() {
        const userId = $("#userId").val();

        if(userId == ""){
            alert("아이디를 입력해주세요.");
            return;
        }

        alert("잠시만 기다려주세요.");

        $.ajax({
            url: "/member/find-password/" + userId,
            type: "POST",
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
            }
        }).done((success) => {
            if(success){
                alert(userId + "님의 이메일로 임시 비밀번호를 발송 완료하였습니다. 로그인후 비밀번호를 변경해주세요.");

                window.location.href = "/member/sign-in";
            }else {
                alert("아이디를 다시 확인해주세요.");
            }

        });
    }

</script>
</body>
</html>