<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"/>
<body>
<nav th:replace="fragments/nav :: nav"/>
<div class="container">
    <h1 class="mb-5 fw-bold text-center">로그인</h1>

    <form th:action="@{/member/login}" th:object="${loginDTO}" method="post">
        <div class="form-group">
            <label>유저 아이디</label>
            <input type="text" th:field="*{userId}" class="form-control" placeholder="아이디를 입력하세요">
        </div>

        <div class="form-group">
            <label>비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요">
        </div>

        <div th:if="error">
            <p style="color:red" th:text="${exception}"></p>
        </div>

        <a class="btn btn-primary btn-lg" href="/member/signup-form">회원 가입</a>
        <button type="submit" class="btn btn-primary btn-lg">로그인</button>
    </form>

</div>
</body>
</html>