<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/head :: head"/>
<body>
<nav th:replace="fragments/nav :: nav"/>

<div class="container py-5" style="max-width: 800px">
    <div class="row justify-content-center" >
        <div>
            <h1 class="mb-5 fw-bold text-center">팀 상용구 관리</h1>
            <h5 class="text-center" th:text="'팀 이름: ' + ${teamName} + ', 관리자 id: ' + ${adminUserId}"></h5>
        </div>

        <div class="container row">
            <div class="col">
                <div id="boilerplate-form">
                    <h3 class="py-1 text-center">상용구 등록</h3>

                    <h5 class="field-error" style="display: none"></h5>

                    <div class="form-group">
                        <label>상용구 제목</label>
                        <input type="text" id="subject"  class="form-control" placeholder="제목을 입력하세요.">
                    </div>
                    <div class="form-group">
                        <label>상용구 내용</label>
                        <textarea rows="15" type="text" id="msg" class="form-control" placeholder="내용을 입력하세요."></textarea>
                    </div>


                    <div class="row">
                        <div class="col">
                            <button type="button" onclick="createBoilerplate()" class="w-100 btn btn-primary btn-lg">등록</button>
                        </div>
                        <div class="col">
                            <button type="button" onclick="updateBoilerplate()" class="w-100 btn btn-secondary btn-lg">수정</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col">
                <div th:replace="~{fragments/boilerplate-list :: team-boilerplate-list}"/>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">

    const header = $("meta[name='_csrf_header']").attr('content');
    const token = $("meta[name='_csrf']").attr('content');

    function selectedBoilerplate(subject, msg) {
        console.log("상용구 제목: " + subject);
        console.log("상용구 내용: " + msg);

        $("#subject").val(subject);
        $("#msg").val(msg);
        $(".field-error").css("display", "none");
    }

    function createBoilerplate(){
        if(!checkBoilerplateField()){
            return;
        }

        const boilerPlateDTO = {
            subject: $("#subject").val(),
            msg: $("#msg").val(),
            authorUserId: [[${adminUserId}]],
            boilerplateType: "TEAM",
            teamName: [[${teamName}]]
        };

        console.log(boilerPlateDTO);

        $.ajax({
            url: "/boilerplate",
            type: "POST",
            beforeSend: function (xhr){
                xhr.setRequestHeader(header, token);
            },
            data: boilerPlateDTO,
            success: function (fragment){
                $("#teamBoilerplateList").replaceWith(fragment);

                $("#subject").val("");
                $("#msg").val("");
            },
            error: function (request){
                console.log(request.status);
                console.log(request.getResponseHeader("duplicate-error"));
                if(request.status == 400 && request.getResponseHeader("duplicate-error") == "true"){

                    const errorMessage = "상용구 이름은 중복 될 수 없습니다.";
                    showErrorMessage(errorMessage)

                    alert(errorMessage);
                }else {
                    alert("잠시 후 다시 시도해주세요.");
                }
            }
        });
    }
    // 상용구 삭제
    function deleteBoilerplate(subject){
        const boilerplateDTO = {
            subject: subject,
            authorUserId: [[${adminUserId}]],
            boilerplateType: "TEAM",
            teamName: [[${teamName}]]
        };

        console.log(boilerplateDTO);

        $.ajax({
            url: "/boilerplate",
            type: "DELETE",
            data: boilerplateDTO,
            beforeSend: function (xhr){
                xhr.setRequestHeader(header, token);
            }
        }).done((fragment)=>{
            $("#teamBoilerplateList").replaceWith(fragment);
        });
    }

    function updateBoilerplate() {
        if(!checkBoilerplateField()){

            return;
        }

        const boilerPlateDTO = {
            subject: $("#subject").val(),
            msg: $("#msg").val(),
            authorUserId: [[${adminUserId}]],
            boilerplateType: "TEAM",
            teamName: [[${teamName}]]
        };

        console.log(boilerPlateDTO);

        $.ajax({
            url: "/boilerplate",
            type: "PUT",
            data: boilerPlateDTO,
            beforeSend: function (xhr){
                xhr.setRequestHeader(header, token);
            },
            success: function (fragment){
                $("#teamBoilerplateList").replaceWith(fragment);

                $("#subject").val("");
                $("#msg").val("");
            },
            error: function (){
                alert("잠시 후 다시 시도해주세요");
            }
        });
    }

    function showErrorMessage(errorMessage){
        $(".field-error").text(errorMessage);
        $(".field-error").css("display", "block");
    }

    function checkBoilerplateField(){
        if($("#subject").val() == ""){
            alert("상용구 제목을 입력해주세요.");

            return false;
        }else if($("#msg").val() == ""){
            alert("상용구 내용을 입력해주세요.");

            return false;
        }

        return true;
    }


</script>
</body>
</html>