body {
    width:100%;
    height:100%;
    margin: 0;
    background-repeat: no-repeat;
}

.card {
    float: none;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.field-error{
    border-color: red;
    color: red;
}

.btn{
    margin: 5px 5px 5px 5px;
}