<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/head :: head"/>
<body>
<nav th:replace="fragments/nav :: nav"/>

<div class="container py-5" style="max-width: 800px">
  <div class="row justify-content-center" >
    <h1 class="mb-5 fw-bold text-center">Team 관리</h1>

    <button class="w-100 btn btn-secondary btn-lg"
            th:onclick="|location.href='@{/team/create-form}'|">
      팀 생성
    </button>

    <div class="container row">
      <div class="col">
        <div th:replace="team/team-list"/>
      </div>
      <div class="col">
        <div th:replace="team/team-member-list"/>
      </div>
    </div>

  </div>
</div>

</body>
</html>