<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/head :: head"/>
<body>
<nav th:replace="fragments/nav :: nav"/>

<div class="container py-5" style="max-width: 800px">
  <div class="row justify-content-center" >
    <h1 class="mb-5 fw-bold text-center">Team 관리</h1>

    <button class="w-100 btn btn-secondary btn-lg"
            th:onclick="|location.href='@{/team-create}'|">
      팀 생성
    </button>

    <div class="container row">
      <div class="col">
        <div id="team-list">

          <h3>팀 리스트</h3>

          <div th:if="${teamList} != null">
            <div th:each="team, i : ${teamList}" class="form-check">
              <input type="radio" name="team-radio" th:id="${'radio' + i.index}" th:value="${team.getTeamName()}" class="form-check-input">
              <label th:for="team-radio" th:id="${'label' + i.index}" th:text="${team.getTeamName()}" class="form-check-label"></label>

              <span><button th:id="${'remove' + i.index}" class="team-remove-btn btn btn-primary" >삭제</button></span>
            </div>
          </div>
          <div th:unless="${teamList} != null">
            <p>아직 생성한 팀이 없습니다.</p>
          </div>

        </div>
      </div>
      <div class="col">
        <div id="team-member-list">
          <h3>팀원 리스트</h3>

          <div th:if="${memberList} != null">
            <div th:each="member, i : ${memberList}" class="form-check">
              <input type="radio" name="team-radio" th:id="${'radio' + i.index}" th:value="${member.getUserId()}" class="form-check-input">
              <label th:for="team-radio" th:id="${'label' + i.index}" th:text="${member.getUserId()}" class="form-check-label"></label>

              <span><button th:id="${'remove' + i.index}" class="member-remove-btn btn btn-primary" >삭제</button></span>
            </div>
          </div>
          <div th:unless="${memberList} != null">
            <p>아직 팀원이 없습니다.</p>
          </div>

          <div>
            <h5>팀원 초대하기</h5>
            <div class="form-group">
              <label for="inviteeUserId">초대할 팀원 ID</label>
              <input type="text" id="inviteeUserId"  class="form-control" placeholder="초대할 팀원 ID를 입력해주세요.">
            </div>
            <button type="button" onclick="inviteMember()" class="btn btn-primary">등록</button>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>


<script type="text/javascript" th:inline="javascript">

  // 팀 선택
  $("input[name=team-radio]").on("click", function (){
    const selectedTeamName = $(this).val();
    console.log(selectedTeamName);

    const teamDTO = {
      teamName : selectedTeamName,
      adminUserId: [[${adminUserId}]]
    }

    $.ajax({
      url: "/team/members",
      type: "GET",
      data: teamDTO
    }).done((fragment)=>{
      $("#team-member-list").replaceWith(fragment);
    });
  });

  function inviteMember() {
    const inviteDTO = {
      teamName: [[${teamName}]],
      adminUserId: [[${adminUserId}]],
      inviteeUserId: $("#inviteeUserId").val()
    }

    console.log(inviteDTO);

    $.ajax({
      url: "/team/invitation",
      type: "POST",
      data: inviteDTO
    });
  }
</script>

</body>
</html>