<div th:fragment="msg-form">
    <div>
      <!-- 내 번호는 current-number로 가져옴 -->

      <div class="form-group">
        <label>상대방 번호</label>
        <input type="text" id="targetMsgNumber" name="phoneNumber" class="form-control" placeholder="번호를 입력하세요">
      </div>
      <div class="form-group">
        <label>메세지 내용</label>
        <textarea rows="15" type="text" id="msg" name="msg" class="form-control" placeholder="메세지 내용을 입력하세요"></textarea>
      </div>


        <div class="row">
            <div class="col">
                <button type="button" onclick="sendMsg()" class="btn btn-primary">전송</button>
            </div>
            <div class="col">
                <button type="button" onclick="clearMsg()" class="btn btn-secondary">메세지 비우기</button>
            </div>
            <div class="col">
                <button type="button" onclick="clearAll()" class="btn btn-secondary">모두 비우기</button>
            </div>
        </div>


    </div>

    <div>
        <form th:action="@{/msg/excel}" method="post" enctype="multipart/form-data">
            <input th:class="file-selector-button" type="file" name="file">
            <input type="submit" value="연락처 엑셀 파일 업로드">
        </form>

        <br>
        <form th:action="@{/msg/excel-download}" method="get">
            <input type="submit" value="메세지 대량 발송 양식 다운로드">
        </form>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">

  function sendMsg(){
    if(!checkFillField()){
        return;
    }

    const telDTO = {
      userId: [[${userId}]],
      myPhoneNumber: $("#current-number").text(),
      targetPhoneNumber: $("#targetMsgNumber").val(),
      msg: $("#msg").val(),
    };

    $.ajax({
      url: "/msg/sms",
      type: "POST",
      data: telDTO
    }).done(function (result){
      if(result){
        alert("메세지 전송 요청 성공");
        $("#targetMsgNumber").val("");
        $("#msg").val("");
      }else {
        alert("실패");
      }
    });
  }

  function clearMsg(){
      $("#msg").val("");
  }

  function clearAll(){
      $("#msg").val("");
      $("#targetMsgNumber").val("");
  }

  function checkFillField(){
      if($("#current-number").val() == "" ||
          $("#targetCallNumber").val() == "" ||
          $("#msg").val() == ""){
          
          alert("값을 입력해주세요.");

          return false;
      }

      return true;
  }


</script>