<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="col" id="boilerplate-list" th:fragment="boilerplate-list">
  <h3>상용구 리스트</h3>
  <div class="form-check" th:each="boilerplate, boilerplateStat: ${boilerplateList}">
    <input class="form-check-input" type="radio" name="boilerplate" th:id="'boilerplate' + ${boilerplateStat.index}">
    <label class="form-check-label" th:for="'boilerplate' + ${boilerplateStat.index}"
           th:id="'boilerplate' + ${boilerplateStat.index} + 'label'"
           th:text="${boilerplate.getSubject()}"></label>
    <p style="display: none" th:id="'boilerplate' + ${boilerplateStat.index} +'msg'" th:text="${boilerplate.getMsg()}"></p>

    <div class="text-right" th:if="${isEditablePage}">
      <span><button class="boilerplate-remove-btn btn btn-primary" th:id="'boilerplate' + ${boilerplateStat.index} + 'remove-btn'">삭제</button></span>
    </div>
  </div>

</div>

<script type="text/javascript" th:inline="javascript">
  $(".form-check-input").on("click", function () {
    let selected = $(this).attr("id");
    let selectedMsg = selected + 'msg';
    let selectedLabel = selected + 'label';
    console.log("선택된 라디오 버튼 라벨:" + selectedLabel + ", 내용: " + selectedMsg);
    $("#msg").text($('#' + selectedMsg).text());
    $("#subject").text($('#' + selectedLabel).text());
  });

  $(".boilerplate-remove-btn").on("click", function () {
    let selected = $(this).attr("id");
    let selectedLabel = selected.replace("remove-btn", "label");
    let subject = $('#' + selectedLabel).text();

    console.log(subject)

    removeBoilerplate(subject);
  })

  /*<![CDATA[*/
  function removeBoilerplate(subject){
    let boilerPlateDTO = {
      subject: subject,
      authorUserId: [[${userId}]]
    };

    console.log(boilerPlateDTO);

    $.ajax({
      url: "/boilerplate",
      type: "DELETE",
      data: boilerPlateDTO
    }).done(function (fragment){
      $("#boilerplate-list").replaceWith(fragment);
    });
  }
  /*]]>*/

</script>

</body>
</html>