<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<p>Sms test</p>
<a href="/">처음으로</a>

<div class="container">
  <form action="/msg/sms/send" method="post">
    <div class="form-group">

      <label>테스트</label>
      <input type="tel" name="myPhoneNumber" placeholder="임시 내 번호">

      <br>

      <label>번호</label>
      <input type="tel" name="phoneNumber" placeholder="번호를 입력하세요">

      <br>

      <label>메세지</label>
      <input type="text" name="msg" placeholder="메세지 내용 입력란">
    </div>

    <br>

    <button type="submit">전송</button>
  </form>
</div>


</body>
</html>