
<div th:id="personalBoilerplateList" th:fragment="personal-boilerplate-list">
    <div class="card-body">
        <div th:each="boilerplate : ${boilerplateList}">
            <input type="radio" name="boilerplate-radio" th:subject="${boilerplate.subject}" th:value="${boilerplate.msg}">
            <label th:text="${boilerplate.subject}"></label>

            <div class="text-right" th:if="${isEditablePage}">
                <span><button th:subject="${boilerplate.subject}" th:onclick="|deleteBoilerplate(this.getAttribute('subject'))|" class="boilerplate-remove-btn btn btn-dark btn-sm" >삭제</button></span>
            </div>
        </div>
    </div>
</div>


<div th:id="teamBoilerplateList" th:fragment="team-boilerplate-list">
    <div class="card-body">
        <div th:each="boilerplate : ${teamBoilerplateList}">
            <input type="radio" name="boilerplate-radio" th:subject="${boilerplate.subject}" th:value="${boilerplate.msg}">
            <label th:text="${boilerplate.subject}"></label>

            <div class="text-right" th:if="${isEditablePage}">
                <span><button th:subject="${boilerplate.subject}" th:onclick="|deleteBoilerplate(this.getAttribute('subject'))|" class="boilerplate-remove-btn btn btn-dark btn-sm" >삭제</button></span>
            </div>
        </div>
    </div>
</div>
